<!doctype html>
<html lang="pt-br">
	<head>
		<title>Limitações</title>
		<meta charset="UTF-8">        
	</head>

	<body>
        
        <article>
            <p>Mesmo após ter investido várias horas no desenvolvimento deste aplicativo, sei muito bem que ele está longe de ser “perfeito”. Além de possuir alguns erros, ele também possuí algumas limitações, sobre estas limitações é importante que você usuário conheça-as para que possa tirar o melhor proveito deste aplicativo.</p>
        
            <h2>Datas</h2>
            
            <p>No campo data de admissão, só será aceita datas a partir de 10/11/1943. Data na qual entra em vigor nossa C.L.T ( Consolidação das Leis do Trabalho ).</p>
            
            <p>No campo data de saída, será aceita até a seguinte data 01/01/2060. Como nossas leis estão em constantes mudanças, determinei esta data como data limite, onde possivelmente todas os critérios usados hoje não devem mais ser aplicados.</p>
            
            <h2>Salário Bruto</h2>
            
            <p>No campo <strong>SALÁRIO</strong> desta aplicação você deve informar uma média geral de todos os valores BRUTOS que o funcionário recebeu durante o  período em que ele trabalhou na empresa. <strong>NÃO DEVEM SER SOMADOS AO SALÁRIO</strong> outros valores como: Comissão, Horas extras, gratificações, etc. <strong>INFORME APENAS O SALÁRIO DESCRITO EM SUA CARTEIRA DE TRABALHO</strong>.</p>
            
            <p>Ainda no campo <strong>SALÁRIO</strong>, defini como valores válidos o intervalo entre R$ 1,00 e R$ 59.999,99. Acredito que esse intervalo será mais que suficiente para atender as necessidades dos usuários.</p>
            
            <h2>Férias vencidas</h2>
            
            <p>As opções de férias vencidas só ficam disponíveis, caso o tempo trabalhado do funcionário seja de pelo menos 1 ano. O cálculo é feito automaticamente após ser informado a data de admissão e a data de saída em seus campos respectivos.</p>

            <p>Este programa foi planejado para contabilizar apenas <strong>1 FÉRIAS VENCIDA</strong>. Isso porque no caso de <strong>2 FÉRIAS VENCIDAS</strong> deve ser aplicado ao empregador pagar em dobro a respectiva remuneração. Este tipo de situação é algo atípico, e que os empregadores evitam ao máximo. Para evitar possíveis erros, foi implementada esta limitação, onde será computado no máximo o período de <strong>1 FÉRIAS VENCIDA + 1 período de FÉRIAS NORMAL</strong>.</p>

            <br><p><strong>PARA SABER MAIS SOBRE FÉRIAS VISITE:</strong></p><br>

            <p>http://www.planalto.gov.br/ccivil_03/decreto-lei/Del1535.htm</p><br>
            
            <h2>Motivos para saída</h2>
            
            <p>Diante dos vários motivos que podem levar um funcionário a sair de uma empresa, optei pelos 5 mais comuns.</p>
            
            
            <ul>
                <li>Pedido de demissão (Situação onde o empregado não está mais em período de experiência e pede o desligamento da empresa. Situações envolvendo "acordo" entre funcionário e empresa, não se enquadra nesta situação).</li>
                
                <li>Fim do Contrato de Trabalho (Situação onde existe um contrato de tempo de serviço, e o funcionário ficou até o final do contrato. Muito usado em contratos de experiência, ou serviços com um término já estabelecido).</li>
                
                <li>Demissão Sem Justa Causa (Situação onde o empregador dispensa o empregado, após o período de experiência).</li>
                
                <li>Demissão Por Justa Causa (Situação onde o empregador dispensa o empregado devido há uma falta grave do empregado, como por exemplo: Furto, Abandono do emprego, etc).</li>
                
                <li>Falecimento (Situação onde o empregado falece e a empresa realiza a dispensa e pagamento dos proventos e verbas rescisórias a familia do empregado).</li>
            </ul>
    
            <p><strong>Entender cada um deles é fundamental para obter resultados mais precisos.</strong></p>
  
            <h2>Descontos</h2>
            
            <p>Este aplicativo não contabiliza os devidos descontos que deveriam ser aplicados, por exemplo: INSS, Imposto de renda etc.</p>
  
            <p>O único valor que pode ser debitado na rescisão é o valor referente ao aviso prévio, caso o funcionário optei por descontá-lo.</p>
            
            <h2>Arredondamentos</h2>
        
            <p>Existem situações em que é necessário aplicar um critério de arredondamento para que o resultado seja um valor válido, por exemplo o valor <strong>112,8956</strong>. Em situações como está, automáticamente o programa vai arredondar esse valor 112,90, isto acontece porque após os dois números depois da vírgual no caso <strong>56</strong> são superiores há 50 o sistema arredonda pra cima. Caso fosse 115,4933 note que agora os números "chaves" são <strong>33</strong> como este valor é inferior há 50 então o sistema retorna o seguinte resultado: 115,49.</p>
            
            <h2>Exportação</h2>

            <p>Durante o desenvolvimento do aplicativo, a ideia inicial era que os dados da rescisão fossem exportados em um formato simples, como o txt, porém diversos problemas me levaram a usar o formato XLS. Este formato mesmo não sendo muito atual como o XLSX, ele é fácilmente aberto por diversos programas de Planilha de cálculos, tais como: LibreOffice (Calc), WPS Office 2016(Spreadsheets), MS Office 2016(Excel), entre outros.</p>

            <h2>Outras Limitações</h2>
    
            <p>Chegamos ao fim das limitações do programa, pode ser que existam outras, assim que novas forem identificadas elas serão publicadas neste documento.</p>
              
        </article>
        
	</body>
</html>