<!doctype html>
<html lang="pt-br">
	<head>
		<title>Termos de uso</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0">

        <style type="text/css">
        
            
            P	 {    
                    font-size: 1em;
                }



            li {
                    list-style-type: disc;
                    padding-bottom: 10px;
                    font-size: 1em;
                    /*font-size: 14px;*/

            }
        
        
        </style>

	</head>

	<body>
        
        <article>

            <p>Os Usuários, através do presente, declaram sua ciência e concordância de que, ao utilizar esse aplicativo o fazem por sua conta e risco. </p>
        
            <p>Este programa foi desenvolvido e é distribuído na expectativa de ser útil, mas <strong>SEM QUALQUER GARANTIA;</strong> sem mesmo a garantia implícita de <strong>COMERCIALIZAÇÃO</strong>  ou de <strong>ADEQUAÇÃO A QUALQUER PROPÓSITO EM PARTICULAR.</strong></p> 
            
            <p>Este aplicativo foi desenvolvido de acordo com as regras da CLT (Consolidação das Leis do Trabalho). Mesmo assim, vale ressaltar alguns pontos importantes:</p>
                        
            <ul>

                <li>Ao usar este aplicativo, o usuário o faz por sua conta e risco e entende que ele não substitui um profissional especializado.</li>

                <li>Valores e informações obtidos são apenas estimativas, não representando nenhum tipo de prova ou laudo pericial.</li>
			
                <li>O usuário que utilizar este software aceita que não tenho qualquer responsabilidade por danos de qualquer natureza resultantes desta utilização.</li>
                
                <li>Caso o usuário precise de um resultado exato e com cunho legal, sugiro que procure um profissional especializado.</li>
                
            </ul>
            
        </article>


		<footer>
			<p>&copy; 2017 - Thiago Lima de Sousa</p>
		</footer>


	</body>

</html>